// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.



.tabs-md-primary .tab-button, .tabs-md-primary .tab-button-icon {
    color: rgba(255, 255, 255, 0.4);
}

.align-center {
  text-align: center;
}

.highlight {
  background-color: #f4f4f4;
}

.center {
  display: block;
  margin: 0 auto;
}

.vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.top-radius {
  border-radius: 10% 10% 0 0;
}

.bottom-radius {
  border-radius: 0 0 10% 10%;
}

.round {
  border-radius: 50%;
}

.transparent-header {
  // This is just to make the header transparent and button/icon with white color
  .toolbar-content,
  .back-button {
    color: white;
  }
  .toolbar-background,
  ion-navbar,
  ion-header {
    background: transparent !important;
    background-color: transparent !important;
  //  background-image: url('../img/material-design-background.jpg');
   // background-image: url('../img/bgums.jpg');
  }
  .header-md::after,
  .toolbar-background-ios {
    background-image: none;
    border-bottom: 0;
  }
  .header-ios .toolbar-background-ios,
  .footer-ios .toolbar-background-ios {
    border: 0;
  }
  // ---
}


// Material Design Sidemenu
#menu-material {
  .menu-header {
    padding: 5px 15px;
    background-image: url('../assets/imgs/bgums.jpg');
     
    background-size: cover;
    //color: white;
    .name {
      font-weight: 900;
      margin-bottom: 3px;
      color: white; 
   letter-spacing: 0px;  
   background: rgb(0, 0, 0);
    }
    .e-mail {
      margin-top: 0;
      margin-bottom: 5px;
      color: white; 
   letter-spacing: 0px;  
   background: rgb(0, 0, 0);
    }
  }
  .user-avatar {
    padding: .5em;
    height: 12vh;
    border-radius: 100px;
  }
  h3,
  .label,
  {
    color: #999;
    font-weight: 400;
  }
  ion-icon {
    color: #777;
  }
  p span { 

    font-weight: 900;
   color: white; 
   letter-spacing: 0px;  
   background: rgba(0, 0, 0, 0.7); /* fallback color */
  // background: rgba(0, 0, 0, 0.7);
   padding: 4px; 
}

.list .item .item-content {
  background-color: transparent !important;
}

.item-content {
  background-color: transparent !important;
}

input, textarea {
    display:block;
    width: 100%;
    margin-bottom:15px;
    padding:10px;
    background:none;
    border-bottom: 1px solid #414a59 !important;
    border:0;
    color:#fff;
}

input[type='submit'] {
    background-color:#ffcc00;
    cursor:pointer;
    color:#000;
    font-weight:bold;
    margin-bottom:50px;
    padding:20px;
}

ul {
    list-style-type:none;
    width:100%;
    margin:0;padding:0;
}
ul li {
    background-color:#414a59;
    padding:20px;
    margin-bottom:2px;
    color:#bec8d9;
}
ul li a {
    color:#ffcc00;
}
h1 {
    margin-top:50px;
}

}