page-book-detail {

  

.bookimg{
	width: 50%;
	margin-left: 25%;
}
    
.scroll-content{
	background-color:black;
}    

.booktitle{
        margin-top: 0!important;
        font-weight: 900;
        overflow-wrap: break-word;
}

.bookauthor{
   
    font-weight: 500;
    overflow-wrap: break-word;
}



}
